html {
    font-size: 20px;
    background-color: #858585;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: "Palatino" sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 2em;
    font-weight: bold;
    text-decoration:solid underline 5px;
}

.choices {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.choice {
    margin: 0 5vw;
    min-height: 5rem;
    min-width: 10rem;
    font-size: 1.5rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    text-align: center;
}

.move-update {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    background-color: rgb(207, 207, 207);
}

.scores {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 5vh;
}

.score-set {
    margin: 0rem 5rem;
}

.score {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: bottom;
    font-size: 0.8rem;
}
